@charset "UTF-8";

/* Navigation */
.navbar {
	background-color: #fcfafb;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.2rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	color: #5e6576;
	transition: all 0.2s ease;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #0092ff;
	text-decoration: none;
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.navbar .dropdown-item {
	color: #5e6576;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;	
}

.navbar .dropdown-item:hover {
	background-color: #fcfafb;
	color: #0092ff;
	text-decoration: none;
}

/* body */
.body-container {
    clear:both;
    margin: 0 auto 10px;
    min-height: 500px;
    padding-top: 20px;
}

.body-title {
    color: #424951;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #ddd;
}
.body-title h3 {
    font-size: 23px;
    min-width: 300px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    font-weight: bold;
    margin: 0 0 -5px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #424951;
}

/* 페이징 */
.page-navigation {
	clear: both;
	padding: 20px 0;
	text-align: center;
}
